<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<!--
<#% @project.photos.each do |photo| %>
  <#%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<#% end %> -->
